{% extends 'base.html' %}

{% block content %}
    <h2>{{ title }}</h2>

    <table class="table">
    <thead>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in stops %}
        <tr>
            {% for value in row %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <br>
    {% if stops.has_previous %}
        <a href="?page={{ stops.previous_page_number }}">Назад</a>
    {% endif %}

    {% if stops.has_next %}
        <a href="?page={{ stops.next_page_number }}">Вперед</a>
    {% endif %}

    <br>
    <br>
    <a href="{% url path %}">Назад</a>
{% endblock content %}