{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center;">
        <h1>{{ title }}</h1>

        <div>
            Цена: {{ phone.price }} ₽<br>
            Год выпуска: {{ phone.release_date.year }}<br>
            LTE: {% if phone.lte_exists %} Есть {% else %} Нет {% endif %}<br>
            <img height="400" src="{{ phone.image }}" alt="{{ phone.name }}"/>
        </div>

        <p>
            <a href="{% url path %}">Назад</a>
        </p>
    </div>
{% endblock content %}